.header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    overflow: auto;

    background-color: #d2ffce;
}

.welkom{
    height: 90%;
    width: 20%;
    float:left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: x-large;
    vertical-align: middle;
}

.select{
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 65%;
    height: 100%;
    font-size: small;
}

.login{
    float: right;
    width: 10%;
    margin-top: 10px;
    font-size: small;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 10%;
    overflow: hidden;

    background-color: #d2ffce;
    border-top-style:solid;
    border-width:1px;
    font-size:x-small;
    text-align: center;
}

.body {
    left: 0px;
    right: 0px;
    overflow: auto;
    min-height: 75%;
    background-color: aliceblue;

    border-top-style:solid;
    border-width:1px;
}

.headerbody{
    margin-bottom: 5%;
}

#logo{
    width: 90px;
    height: 90px;
    vertical-align: middle;
}

.sponsorbanner{
    width: auto;
    height: 60px;
    padding: 5px;
}

.menuLink {
    margin: 0px 10px 0px 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.menuLink:hover {
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    background-color: lightblue;
}

.titel {
    font-size: xx-large;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.onderTitel {
    font-size: x-large;
    text-align: center;
}

.subTitel {
    font-size: x-large;
    text-decoration: underline;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.labelNaastSubTitel {
    font-size: x-large;
    padding-top: 15px;
    padding-bottom: 15px;
}


.bodyWrapper {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
}

.formGrid {
    text-align: left;
    padding-left: 10px;
}

.formRow {
    margin-top: 10px;
    margin-left: 5px;
}

.menuRow {
    margin-top: 20px;
    margin-left: 5px;
}

.pageButton {
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

.indent {
    padding-left: 10px;
}

.plus {
    color: black;
    font-size: 40px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.top10 {
    margin-top: 10px;
}

.big {
    font-size: x-large;
}

html {
    height: 100%
}

body {
    margin: 0;
    height: 100%;

    background-color: aliceblue;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.kampioenschap {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
}

.toernooi {
    border: 1px solid black;
    padding: 10px;
}

.sponsor {
    border: 1px solid black;
    padding: 10px;
}

.noBorder tr,
.noBorder td { border: 0 !important; }

.transparentBackground tr,
.transparentBackground td { background: transparent !important; }
